<nav>
    <div class="nav-wrapper green darken-3">
      <a href="#" class="brand-logo">My Birds</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>
    <img src='https://secure.static.tumblr.com/daa16cb4a086af8091edda654600eb2a/mnvd1lj/fFon33ck3/tumblr_static_bird_collage.jpg'>
<div class='container'>
<h4>Sign in...</h4>
<!-- <p>select username</p>
    <ul>
    {{#each username}}
    <a href="/userhome/{{this.id}}"><li>{{this.username}}</li></a>
    {{/each}}
  </ul> -->
  <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Members</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    {{#each member}}
    <a href="/userhome/{{this.id}}"><li>{{this.username}}</li></a>
    {{/each}}
  </ul>
  <p>or...</p>
    <a href='/adduser' class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Create a new user</a>
  </div>
