body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.card {
  margin:10px;
}
.detail-image {
  width: 400px;
}
.card .card-title {
  font-size: 18px;
}
